@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Amatic+SC');
li {
    list-style: none;
}

.lifooter {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.gnosispage {
    transition: all .15s linear;
    font-size: 12px;
    color: #b2dfdb;
}

.gnosispage:hover, .fab:hover {
    color: #253f7b !important;
}

.a1 a::after {
    border-right: solid 2px #7a76769d;
    height: 20px;
}

main {
    flex: 1 0 auto;
}

.fotodeperfil {
    position: relative;
    margin: 0 0 20px 0;
    height: 100%;
    width: 100%;
    /* border: solid 2px black; */
}

.imgperfil {
    position: relative;
    top: 20px;
    margin: auto;
    padding: 0 !important;
    border-radius: 200px;
    height: auto;
    width: 100px;
    height: 100px !important;
    overflow: hidden;
}

.imgperfil p {
    position: relative;
    top: 20px;
}

.iconocompleto {
    width: 79px;
    height: 74px !important;
    overflow: hidden;
}

h6 {
    color: #797979;
    font-size: 14px !important;
}

.lisep {
    margin: 2% 7%;
}

.img-fluid {
    width: 100%;
    background: url("../assets/objetivos.jpg") fixed center no-repeat;
    background-size: cover;
    min-height: 30%;
    width: 100%;
}

.about-info-area {
    margin-top: 130px;
    margin-bottom: 130px;
}

.gnosisobj {
    position: relative;
    color: white;
    background-color: #2a2a2ac5;
}

.quitarmarginbottom {
    margin-bottom: 0px !important;
}

.slogan1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.iconolibro {
    height: 100%;
}

#nav {
    transition: all .35s linear;
}

.kkkblue {
    background: #253f7b;
}

.KKKblack {
    background-color: #2a2a2a !important;
}

.slogan {
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

.iconoplaneta {
    position: absolute;
    top: 0;
    background: rgba(21, 101, 192, 1)
}

.menu_e {
    position: relative;
    width: auto;
    float: left;
    display: block !important;
}

.carousel {
    height: 390px !important;
}

.carousel .carousel-item {
    /* top: -70px !important;  */
    width: 500px !important;
    height: 200px !important;
}

.container {
    min-width: 94% !important;
}

.arregladoimg {
    height: 100%;
    width: 100% !important;
}

.mostrar {
    display: none;
}

.mostrar2 {
    display: none;
}

@media only screen and (max-width:992px) {
    .mostrar {
        display: block;
    }
}

@media only screen and (max-width:450px) {
    .mostrar2 {
        display: block;
        padding: 0 !important;
        margin: 0 !important;
    }
    .mostrar3 {
        display: none !important;
    }
    .left1 {
        text-align: left;
    }
}

@media only screen and (max-width:400px) {
    .iconocompleto {
        height: 60px !important;
        width: 48px;
    }
    .gn {
        font-size: 1.4rem !important;
    }
}